*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    min-height: 100vh;
    place-items: center;
    justify-content: center;
    font-family: 'Alkatra', cursive;
    background: linear-gradient(181deg, rgb(221 239 245 / 26%) 0%, rgb(40 95 126 / 65%) 80%, rgb(19 118 109 / 75%) 100%);
}

h1{
    display: flex;
    font-size: 31px;
    margin-bottom: 28px;
    justify-content: center;
}

label{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    margin-bottom: 15px;
}

.input{
    height: 35px;
    width: 348px;
    margin-right: 8px;
    border-radius: 5px;
    padding-left: 10px;
    border-color: #2aa4a5;
    background: #ffffff17;
}

.btn{
    width: 38px;
    height: 38px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 24px;
    border-radius: 6px;
    background-color: #2aa4a5;
}
 
#tasks{
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
.checkbox{
    margin-right: 11px;
}

#taskTarjet{
    height: 35px;
    width: 380px;
    display: flex;
    margin-top: 5px;
    padding-left: 14px;
    border-radius: 20px;
    padding-right: 14px;
    align-items: center;
    justify-content: space-between;
    background-color: #dfeced94;
}

#taskList{
    margin-top: 10px;
}

#infoClear{
    display: flex;
    color: #abdfed;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.buttonE, .buttonB{
    border: none;
    background: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.buttonB{
    color: #ff0000c4;
}

.buttonE{
    color: #0000ffc9;
}

.button{
    cursor: pointer;
}